## Term Deposit Predictive ML Model

### Housekeping
1. How was this project developed?\
This project was developed locally with Visual Studio Code and GitHub version control.\
Please check this project @ [GitHub page](https://caiocvelasco.github.io/) or @ [GitHub Repository](https://github.com/caiocvelasco/ml-project-bank-term-deposit/blob/4f1bfa72d17cefdfe2a515054f1f2cfffa3c7749/bank-term-deposit-notebook.ipynb).

### Data Collection
Data was already available on a _csv_ format. So I'll skip this section.

### Importing Libraries

In [4]:
import pandas as pd              # for data analysis
import numpy as np               # for scientific computing
import os                        # for file interactions in the user's operating system

import matplotlib.pyplot as plt  # for data visualization
import matplotlib as mpl
import seaborn as sns            # for data visualization

### Importing the Dateset

1. [_Note_] It is important to import only the data we need to save up time and space. However, this dataset already contains the features we need, so I will skip that.
2. [_Importing_] The csv dataset will be imported as a dataframe using pandas.
3. [_Independence_] This notebook can be downloaded and saved anywhere in your computer (one needs only to change the name of the folder where the CVS files are located).
4. [_Automation_] Any dataset saved in the designated folder will be stored automatically.
5. [Stacking] If there is a need to combine (or stack) multiple CSV files, please read the _assumptions_ below.

Assumptions
* If there is a need to stack (or combine) multiple CSV files based on a matching _filename_ pattern, please check one of my [repositories](https://github.com/caiocvelasco/stack-combine-multiple-csv-files/blob/7854a473046e4dc5876bcf8caa69b4b3d16dc7e1/stack-combine-multiple-csv-files.ipynb). There, you'll find a code to perform this task automatically under the following assumption: the stored CSV files have the same features (aka same columns).

In [14]:
# Set name, main directory, current directory, and path for the CSV folder

csv_folder_name = ''  # please, change the folder name where the CSV files are stored **if need be**
main_dir = 'C:\\Users\\caiov\OneDrive - UCLA IT Services\\Documentos\\DataScience\\Datasets\\grupo_sbf' # set the location where this notebook is saved
csv_folder_path = main_dir + '\\' + csv_folder_name  # set path for the CSV files
os.chdir(csv_folder_path)                            # set location of CSV files

# Save cvs data on a pandas dataframe
df = pd.read_csv("bank-full-case.csv", sep = ";", skipinitialspace = True) #skip space after delimiter

# Save a copy of the dataframe
data = df.copy()

# Take a quick look into a sample of the data
data.sample(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1034,41,blue-collar,single,secondary,no,277,yes,no,unknown,7,may,2177,4,-1,0,unknown,no
20934,40,technician,single,secondary,no,-239,no,no,cellular,13,aug,399,2,-1,0,unknown,no
9102,59,blue-collar,married,unknown,no,139,no,no,unknown,5,jun,153,1,-1,0,unknown,no
30199,31,student,single,secondary,no,334,yes,no,cellular,5,feb,195,4,233,2,other,no
36461,56,services,divorced,secondary,no,141,yes,no,cellular,11,may,63,2,370,2,failure,no
8943,39,blue-collar,married,primary,no,104,yes,no,unknown,4,jun,624,2,-1,0,unknown,no
13168,57,admin.,married,secondary,no,2137,no,no,telephone,8,jul,132,7,-1,0,unknown,no
16704,35,blue-collar,married,secondary,no,0,yes,yes,cellular,24,jul,250,1,-1,0,unknown,no
25203,51,management,married,tertiary,no,-516,yes,no,cellular,18,nov,120,2,187,2,failure,no
43322,22,self-employed,single,tertiary,no,780,no,no,cellular,17,mar,272,3,-1,0,unknown,yes